<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>first page</title>
</head>
<body bgcolor="lightblue">
    <h1 ><center>welcome to the text analyser</center></h1>
    <form action="/analyse" method="get">
        <textarea name="text" style="margin: 0px; width: 1239px; height: 229px;"></textarea>
        <input type="submit" value="Analyse Text">
<!--        <button type="submit">Analyse Text</button>
                            both the things will work...!! input type submit and button -->
    </form>
</body>
</html>