<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'insta/task2.css' %}">
</head>

<body>
    {% load static %}
<nav id="navbar">
        <img src="{% static 'insta/shaukeens logo.png' %}" alt="logo image">

<!--<img src="{% static 'insta/car.jpeg' %}" alt="My image">-->
    </nav>
    <div id="main_menu">
        <div class="inner_main_menu">
            <ul>
                <li><a href="#">Follow Us</a></li>
                <li><a href="#">Visit our Site</a></li>
            </ul>
        </div>
    </div>

<!--<a href="{% static 'insta/task1.txt' %}">hii</a>-->

  <div class="container">
    <p>Education</p>
    <div class="row">

        {% for i in edu %}
      <div class="col-md-3 mx-5">
        {{i.name}}
        <blockquote class="instagram-media" data-instgrm-permalink="{{i.link}}" data-instgrm-version="12" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:10%; padding:0; width:9.375%; width:undefinedpx;height:undefinedpx;max-height:60%; width:undefinedpx;"></blockquote>

        </div>
        {% endfor %}

    </div>
  </div>

</body>
<script async src="//www.instagram.com/embed.js"></script>
</html>