<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <style>
    .navbar-brand {
      margin-left: 50%;
    }

    .navbar-nav {
      margin-left: auto;
    }
  </style>
</head>

<body>
  {% load static %}
  <nav class="navbar  navbar-expand-lg bg-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'insta/shaukeens logo.png' %}" alt="logo" width="80" height="80">
      </a>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">
                Follow us
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
                Visit Our Site
        </a>
      </li>

    </ul>
  </nav>
  <div class="conatiner">
    <div id="carouselExampleDark" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="{% static 'insta/bgimage.png' %}" width="700" height="700" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h2>Quality work and Quality success</h2>
            <p>Lorem ipsum dolor sit, amet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque nam ut quo, iuptatem eveniet aliquid, molesuae.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="{% static 'insta/bird.jpg' %}" width="700" height="700" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h2>Quality work and Quality success</h2>
            <p>Lorem ipsum dolor sit, amet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque nam ut quo, iuptatem eveniet aliquid, molesuae.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'insta/phone.jpg' %}" width="700" height="700" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h2>Quality work and Quality success</h2>
            <p>Lorem ipsum dolor sit, amet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque nam ut quo, iuptatem eveniet aliquid, molesuae.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <br>
    <br>

<!--    <div class="container" style="background-color: black; height: 350px; width:1100px;">-->
<!--      <p style="color:white;">hello</p>-->
<!--    </div>-->
    <!-- i nsta posts from here -->

<h2 style="text-align: center;">Real Estate</h2>
    <div class="container" style=" height: 350px; width:1100px;">

<div class="row">
  {% for i in real %}
  {% if forloop.counter <= 3  %}
  <div class="col-md-3 mx-4" >
<!--    <div class="card" style="width: 18rem; ">-->
      <blockquote class="instagram-media" data-instgrm-permalink="{{i.link}}" data-instgrm-version="12" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:10%; padding:0; width:9.375%; width:undefinedpx;height:undefinedpx;max-height:60%; width:undefinedpx;"></blockquote>
<!--    </div>-->
  </div>

  {% endif%}
    {% endfor %}
</div>



</div>
    <br>
    <h2 style="text-align: center;">Automotive</h2>
<br>
<div class="container" style=" height: 350px; width:1100px;">
<div class="row">
  {% for i in auto %}
  <div class="col-md-3 mx-4">
    <div class="card" style="width: 18rem;">
      <blockquote class="instagram-media" data-instgrm-permalink="{{i.link}}" data-instgrm-version="12"
                  style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:10%; padding:0; width:9.375%; width:undefinedpx;height:20rem;max-height:60%; width:undefinedpx;"></blockquote>
    </div>
  </div>
  {% endfor %}
</div>
  </div>

<h2 style="text-align: center;">Luxaury</h2>

    <div class="container" style=" height: 350px; width:1100px;">
<div class="row">
  {% for i in lux %}
  <div class="col-md-3 mx-4">
<!--    <div class="card" style="width: 18rem;">-->
      <blockquote class="instagram-media" data-instgrm-permalink="{{i.link}}" data-instgrm-version="12" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:10%; padding:0; width:9.375%; width:undefinedpx;height:undefinedpx;max-height:60%; width:undefinedpx;"></blockquote>
<!--    </div>-->
  </div>
  {% endfor %}
</div>
</div>

    <br>
    <br>

     <h2 style="text-align: center;">Computer & Electronics</h2>

<div class="row">
  {% for i in ce %}
  <div class="col-md-3 mx-4">
    <div class="card" style="width: 18rem;">
      <blockquote class="instagram-media" data-instgrm-permalink="{{i.link}}" data-instgrm-version="12" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:10%; padding:0; width:9.375%; width:undefinedpx;height:undefinedpx;max-height:60%; width:undefinedpx;"></blockquote>
    </div>
  </div>
  {% endfor %}
</div>


     <h2 style="text-align: center;">Construction & Contractors</h2>

<div class="row">
  {% for i in cc %}
  <div class="col-md-3 mx-4">
    <div class="card" style="width: 18rem;">
      <blockquote class="instagram-media" data-instgrm-permalink="{{i.link}}" data-instgrm-version="12" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:10%; padding:0; width:9.375%; width:undefinedpx;height:undefinedpx;max-height:60%; width:undefinedpx;"></blockquote>
    </div>
  </div>
  {% endfor %}
</div>


     <h2 style="text-align: center;">Education</h2>

<div class="row">
  {% for i in edu %}
  <div class="col-md-3 mx-4">
    <div class="card" style="width: 18rem;">
      <blockquote class="instagram-media" data-instgrm-permalink="{{i.link}}" data-instgrm-version="12" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:10%; padding:0; width:9.375%; width:undefinedpx;height:undefinedpx;max-height:60%; width:undefinedpx;"></blockquote>
    </div>
  </div>
  {% endfor %}
</div>


     <h2 style="text-align: center;">Entertainment</h2>

<div class="row">
  {% for i in enter %}
  <div class="col-md-3 mx-4">
    <div class="card" style="width: 18rem;">
      <blockquote class="instagram-media" data-instgrm-permalink="{{i.link}}" data-instgrm-version="12" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:10%; padding:0; width:9.375%; width:undefinedpx;height:undefinedpx;max-height:60%; width:undefinedpx;"></blockquote>
    </div>
  </div>
  {% endfor %}
</div>


     <h2 style="text-align: center;">Food & Dining</h2>

<div class="row">
  {% for i in fd %}
  <div class="col-md-3 mx-4">
    <div class="card" style="width: 18rem;">
      <blockquote class="instagram-media" data-instgrm-permalink="{{i.link}}" data-instgrm-version="12" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:10%; padding:0; width:9.375%; width:undefinedpx;height:undefinedpx;max-height:60%; width:undefinedpx;"></blockquote>
    </div>
  </div>
  {% endfor %}
</div>


     <h2 style="text-align: center;">Health & Medicine</h2>

<div class="row">
  {% for i in hm %}
  <div class="col-md-3 mx-4">
    <div class="card" style="width: 18rem;">
      <blockquote class="instagram-media" data-instgrm-permalink="{{i.link}}" data-instgrm-version="12" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:10%; padding:0; width:9.375%; width:undefinedpx;height:undefinedpx;max-height:60%; width:undefinedpx;"></blockquote>
    </div>
  </div>
  {% endfor %}
</div>


     <h2 style="text-align: center;">Others</h2>

<div class="row">
  {% for i in other %}
  <div class="col-md-3 mx-4">
    <div class="card" style="width: 18rem; ">
      <blockquote class="instagram-media" data-instgrm-permalink="{{i.link}}" data-instgrm-version="12" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:10%; padding:0; width:9.375%; width:undefinedpx;height:undefinedpx;max-height:60%; width:undefinedpx;"></blockquote>
    </div>
  </div>
  {% endfor %}
</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


</body>
<script async src="//www.instagram.com/embed.js"></script>

</html>
